  <!-- Navbar -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'scoring/navbar.css' %}">
  
  <link rel="stylesheet" href="{% static 'scoring/score.css' %}">
  <link rel="stylesheet" href="{% static 'scoring/makematch.css' %}">
  <link rel="stylesheet" href="{% static 'scoring/makematch.css' %}">
  
	
  <nav class="navbar">
    <a class="active" href="{% url 'score' %}">CricScorer</a>
    <a href="#">Live Score</a>
    <a href="#">Matches</a>
    <a href="{%url 'team_list' %}">Teams</a>
    <a href="{% url 'tournament_list'%}">Tournaments</a>
    <!-- <a href="http://127.0.0.1:8000">Sign-Up</a> -->
  </nav>

  {% block content %}
  {% endblock content %}