{% extends 'scoring/base.html' %}

<!-- {% block content %}
 <div class="center"> -->
    <style>
        table {
    display: table;
    border-collapse:collapse;
    box-sizing: border-box;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: center;
    max-width: 700px;
    min-width: 600px;
    /* border-spacing: 0.9px; */
    border-color: gray;
    font-variant: normal;
}
.container{
  height: 600px;
}
.container-box {
  max-height: 700px;
  max-width: 700px; /* set the height as per your requirement */
  overflow-y: auto; /* add a scrollbar if the content overflows */
}

</style>
<div class="container" style="width: fit-content;">
  <div class="container-box">
    <h1>TEAM - {{ team.name }} </h1>
    <form method="post" action="{% url 'edit_player_names' team.id %}">
      {% csrf_token %}
      {% for player in players %}
        <div class="form-group">
          <label for="player_name_{{ player.id }}">Name: </label>
          <input type="text" class="form-control" id="player_name_{{ player.id }}" name="player_name_{{ player.id }}" value="{{ player.name }}">
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
    
    <button type='submit'  class="btn btn-primary" onclick=location.href="{% url 'add_player' %}">Add Player</button>
  </div>
</div>

<!-- {% endblock %} -->
