<!-- {% extends 'scoring/base.html' %} -->

<!-- {% block content %}
 <div class="center"> -->
    <style>
        table {
    display: table;
    border-collapse:collapse;
    box-sizing: border-box;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: center;
    max-width: 700px;
    min-width: 600px;
    /* border-spacing: 0.9px; */
    border-color: gray;
    font-variant: normal;
}
a{
  text-decoration: none;
}

    </style>
 <div class="container" style="width: fit-content;">
  <div class="container-box">
    <h1>Team List</h1>
    <table class="table">
      <thead>
        <tr>
          <th><strong>TEAM NAME</strong></th>
          <th><strong>Captain</strong></th>
          <th><strong>Number of Players</strong></th>
        </tr>
      </thead>
      <tbody>
        {% for team in teams %}
        <tr>
          <td style="border: 1px solid black;"><strong>{{ team.name }}</strong></td>
          <td style="border: 1px solid black;"><strong>{{ team.captian_name }}</strong></td>
          <td style="border: 1px solid black;"><strong>{{ team.player_set.all.count }}</strong></td>
          <td><a href="{% url 'edit_player' team.id %}"><button class="btn btn-primary" >Edit</button></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
   <a href="{% url 'team_create' %}" ><button class="btn btn-primary">Create team</button></a>
  </div>
</div>

<!-- {% endblock %} -->
