{% extends 'scoring/base.html' %}
<!DOCTYPE html>
<html>
  <head>
    <title>Cricket Scoring</title>
   
  </head>
  <body>
      <!-- Navbar -->
	
      {% block content %}
      <div class="center">
      <div class="container">
        <div class="container-box">
          <h1>Select Tournament:</h1>
          <select>
            <option value="t1">Tournament 1</option>
            <option value="t2">Tournament 2</option>
            <option value="t3">Tournament 3</option>
          </select>
          <!-- <p>Team 1 vs Team 2:</p>
          <select>
            <option value="team1">Team 1</option>
            <option value="team2">Team 2</option>
          </select> -->
          <p>Select two teams:</p>
          <select>
            <option value="t1">Team 1</option>
            <option value="t2">Team 2</option>
            <option value="t3">Team 3</option>
          </select>
          <select>
            <option value="t4">Team 4</option>
            <option value="t5">Team 5</option>
            <option value="t6">Team 6</option>
          </select>
          <!-- <div class="create-match-container">
            <label class="create-match-label" for="match-pin-input">Create Match PIN:</label>
            <input class="create-match-input" type="text" id="match-pin-input" name="match-pin-input" />
          </div> -->
          <div class="button-container">
            <button class="button" onclick="location.href={% url 'score' %}">Back</button>
            <button id="save-btn" class="button" onclick="location.href={% url 'matchtoss' %}">Save</button>
          </div>
          
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
<!-- make an cricket scoring application with an 
container placed in the centre of the web page
the conintainer conintaining an h1 text select tournament and a brop box placed besides it
below that have an text saying team1 vs team2 and below the team1 vs team 2 have an option with an dropbox for 
selecting the two teams -->