{% extends 'scoring/base.html' %}
<!DOCTYPE html>
{% block content %}
<html>
  <head>
    <title>Cricket Scoring</title>
    <head>
      <style>
      .error{
        color: red;
      }
    
    .button,
    select {
     
      color: black;
 
    }
    a{
      text-decoration: none;
    }
  </style>
  </head>
  <body>
    
    <form method="post">
      {% csrf_token %}

      <div class="center">
        <div class="container">
          <div class="container-box">
            <label for="tournament"><h1>Select tournament:</h1></label>
            {% if error_msg %}
    <p class="error" style="color: red;">{{ error_msg }}</p>
{% endif %}
            <select id="tournament" name="tournament">
              {% for tournament in tournaments%}
              <option value="{{tournament.id}}">{{tournament.name}}</option>
              {% endfor %}
            </select>

            <label><h3>Select Teams:</h3></label>
            <select id="team1" name="team1" onchange="updateTeam2Options()">
              {% for team in teams %}
                  <option value="{{ team.id }}">{{ team.name }}</option>
              {% endfor %}
          </select>
          
          <select id="team2" name="team2">
              {% for team in teams %}
                  <option value="{{ team.id }}">{{ team.name }}</option>
              {% endfor %}
          </select>

          <div class="form-group">
            <label  style="margin-left: 130px;" for=""><h3>Overs:</h3></label>
            <input style="margin-left: 13px;"  type="text" name="Overs" id="match-pin-input" />
          </div>

            <div class="button-container">
              <a href="{% url 'score' %}" style="font-weight: bold;" class="button">Back</a>
              <button id="save-btn" style="width: 80px;"  class="btn btn-primary btn-sm" type="submit">Save</button>

            </div>
          </div>
        </div>
      </div>
    </form>
    {% endblock %}
  </body>
</html>

<script>
  function updateTeam2Options() {
      var team1Select = document.getElementById("team1");
      var team2Select = document.getElementById("team2");
      
      // Remove the selected team from the options in the second dropdown
      for (var i = 0; i < team2Select.options.length; i++) {
          if (team2Select.options[i].value == team1Select.value) {
              team2Select.options[i].disabled = true;
              if (team2Select.selectedIndex == i) {
                  // If the currently selected option is disabled, select the first enabled option
                  for (var j = 0; j < team2Select.options.length; j++) {
                      if (!team2Select.options[j].disabled) {
                          team2Select.selectedIndex = j;
                          break;
                      }
                  }
              }
          } else {
              team2Select.options[i].disabled = false;
          }
      }
  }
</script>
