{% extends 'scoring/base.html' %}
<!DOCTYPE html>
<html>
  <head>
    <title>Cricket Scoring</title>
  </head>
  <body>
    {% block content %}
    <form method="post">
      {% csrf_token %}

      <div class="center">
        <div class="container">
          <div class="container-box">
            <label for="tournament"><h1>Select tournament:</h1></label>
            <select id="tournament" name="tournament">
              {% for tournament in tournaments%}
              <option value="{{tournament.id}}">{{tournament.name}}</option>
              {% endfor %}
            </select>

            <label><h3>Select Teams:</h3></label>
            <select id="team1" name="team1">
              {% for team in teams%}
              <option value="{{team.id}}">{{team.name}}</option>
              {% endfor %}
            </select>
            <select id="team2" name="team2">
              {% for team in teams%}
              <option value="{{team.id}}">{{team.name}}</option>
              {% endfor %}
            </select>

            <div class="form-group">
              <label for=""><h3>Match Pin:</h3></label>
              <input type="text" name="matchpin" id="" />
            </div>

            <div class="button-container">
              <button class="button" onclick="location.href={% url 'score' %}">
                Back
              </button>
              <button id="save-btn" type="submit">Save</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    {% endblock %}
  </body>
</html>

<script>
  const firstDropdown = document.getElementById("team1");
  const secondDropdown = document.getElementById("second-dropdown");

  firstDropdown.addEventListener("change", () => {
    const selectedValue = firstDropdown.value;

    const xhr = new XMLHttpRequest();
    xhr.open("GET", "/second_dropdown/?selected_value=" + selectedValue);
    xhr.onload = () => {
      if (xhr.status === 200) {
        const responseData = JSON.parse(xhr.responseText);
        secondDropdown.innerHTML = '<option value="">Select an option</option>';
        responseData.forEach((item) => {
          const option = document.createElement("option");
          option.value = item.value;
          option.textContent = item.label;
          secondDropdown.appendChild(option);
        });
      }
    };
    xhr.send();
  });
</script>
<!-- make an cricket scoring application with an 
container placed in the centre of the web page
the conintainer conintaining an h1 text select tournament and a brop box placed besides it
below that have an text saying team1 vs team2 and below the team1 vs team 2 have an option with an dropbox for 
selecting the two teams -->

<!-- onclick="location.href={% url 'matchtoss' %} -->
