{% extends 'scoring/base.html' %}
<!DOCTYPE html>
<html>
  <head>
    <title>Cricket Scoring</title>
    <style>
        
      
      
    </style>
  </head>
  <body>
    {% block content %}
	
     
      <div class="center">

      
      <div class="container">
        <div class="container-box">
<!--           
          <div class="create-match-container">
            <label class="create-match-label" for="match-pin-input">Match Id:</label>
            <input class="create-match-input" type="text" id="match-pin-input" name="match-pin-input" />
          </div> -->
          <div class="create-match-container">
            <label class="create-match-label" for="match-pin-input">Who won the toss?</label>
            <select>
            <option value="t1">Home</option>
            <option value="t2">Away</option>
            </select>
          </div>
          <div class="create-match-container">
            <label class="create-match-label" for="match-pin-input">Who is Batting         ?  </label>
            <select>
            <option value="t1">Home</option>
            <option value="t2">Away</option>
            </select>
          </div>
          
          
        
          <div class="create-match-container">
            <label class="create-match-label" for="match-pin-input">Number Of Overs:</label>
            <input class="create-match-input" type="text" id="match-pin-input" name="match-pin-input" />
          </div>
          <div class="button-container">
            <button class="button" onclick="location.href={% url 'make_match' %}">Back</button>
            <button id="save-btn" class="button" onclick="location.href={% url 'scoring' %}"">Save</button>
          </div>
          
            
          
          


        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
<!-- make an cricket scoring application with an 
container placed in the centre of the web page
the conintainer conintaining an h1 text select tournament and a brop box placed besides it
below that have an text saying team1 vs team2 and below the team1 vs team 2 have an option with an dropbox for 
selecting the two teams -->