{% extends 'scoring/base.html' %}
<!DOCTYPE html>
<html>
  <head>
    {% block content %}
    <title>Cricket Scoring</title>
  
        
        <style>
      .error{
        color: red;
      }
    
    .button,
    select {
     
      color: black;
 
    }
    
  </style>
      
 
  </head>
  <body>
  
	
     
      <div class="center">

      
      <div class="container">
        <div class="container-box">
<!--           
          <div class="create-match-container">
            <label class="create-match-label" for="match-pin-input">Match Id:</label>
            <input class="create-match-input" type="text" id="match-pin-input" name="match-pin-input" />
          </div> -->
          <label for="match"><p>Tournament: {{ match.tournament_name }}</p>
            <h4> {{ match.team_1 }} vs {{ match.team_2 }}</h4></label>
          <div class="create-match-container">
            <label class="create-match-label" for="match-pin-input">Who won the toss?</label>
            <select>
            <option value="">{{ match.team_1 }}</option>
            <option value="">{{ match.team_2 }}</option>
            
            </select>
          </div>
          <div class="create-match-container">
            <label class="create-match-label" for="match-pin-input">Who is Batting? </label>
            <select>
              <option value="">{{ match.team_1 }}</option>
              <option value="">{{ match.team_2 }}</option>
            </select>
          </div>
          
          
        
          <div class="create-match-container">
            <label class="create-match-label" for="match-pin-input">Number Of Overs:</label>
            <input class="create-match-input" type="text" id="match-pin-input" name="match-pin-input" />
          </div>
          <div class="button-container">
            <button class="button" onclick="location.href={% url 'make_match' %}">Back</button>
            <a href="{{match.getUrl}}">
              <button id="save-btn" class="button" >SAVE</button>
            </a>
          
          </div>

        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
<!-- make an cricket scoring application with an 
container placed in the centre of the web page
the conintainer conintaining an h1 text select tournament and a brop box placed besides it
below that have an text saying team1 vs team2 and below the team1 vs team 2 have an option with an dropbox for 
selecting the two teams -->