<!-- navbar -->
<nav class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Live Score</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Matches</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Teams</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Players</a>
      </li>
    </ul>
  </nav>