{% extends 'scoring/base.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket Scoring - Login</title>
    
  </head>

  <body >
    
    <!-- Navbar -->
    {% block content %}
    <!-- buttons form -->
    <div class="center">
    <!-- <div class="container"> -->
      <div class="container-box">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
     
      <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <button style="padding: 20px; margin: 20px 10px 20px; background-color: #4CAF50; color: black; border: red; cursor: pointer; width: 700px; height: 80px; font-size: 20px;" onclick="location.href='{% url 'make_match'%}'">+ Create your match</button>
        <button style="padding: 20px; margin: 10px 10px 20px; background-color: #4CAF50; color: black; border: none; cursor: pointer; width: 700px; height: 80px; font-size: 20px;" onclick="location.href='{% url 'entermatch'%}'">Start Scoring</button>
        <button style="padding: 20px; margin: 10px 10px 20px; background-color: #4CAF50; color: black; border: none; cursor: pointer; width: 700px; height: 80px; font-size: 20px;" onclick="location.href='{% url 'team_page'%}'">Teams</button>
        <button style="padding: 20px; margin: 10px 10px 20px; background-color: #4CAF50; color: black; border: none; cursor: pointer; width: 700px; height: 80px; font-size: 20px;"onclick="location.href='{% url 'tournament_create'%}'">Create Tournament</button>
        <button style="padding: 20px; margin: 10px 10px 20px; background-color: #4CAF50; color: black; border: none; cursor: pointer; width: 700px; height: 80px; font-size: 20px;"onclick="location.href='{% url 'tournament_list'%}'">Exisitng Tournaments</button>

      </div>
    </div>
  </div>
  </div>
</div>
    {% endblock %}
  </body>
</html>
