{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>Cricket Scoring Application</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
  
  
  $(document).ready(function () {
    $('#score-btn').click(function () {
        var selectedBatter = $('#batsman-select-a').val();
        if (selectedBatter === "") {
            alert("Please select a batsman to score.");
            return;
        }
        var selectedBatsmanRow = $('.batter-row[data-batter-name="' + selectedBatter + '"]');
        if (selectedBatsmanRow.hasClass("out")) {
            alert(selectedBatter + " is already out.");
            return; // Don't update the score if the batsman is already out
        }
        var currentScore = parseInt(selectedBatsmanRow.find(".batter-score").text());
        selectedBatsmanRow.find(".batter-score").text(currentScore + 1);
    });
});




      $(document).ready(function () {
    $('#batsman-select-a').change(function () {
        var selectedBatter = $(this).val();
        var batterRow = $('#batters-container-a tbody').find('tr[data-batter-name="' + selectedBatter + '"]');

        if (batterRow.length == 0) {
            batterRow = '<tr class="batter-row" data-batter-name="' + selectedBatter + '">' +
                '<td class="batter-name">' + selectedBatter + '</td>' +
                '<td class="batter-runs">0</td>' +
                '<td class="balls-faced">0</td>' +
                '<td class="fours">0</td>' +
                '<td class="sixes">0</td>' +
                '<td class="strike-rate">0.00</td>' +
                '</tr>';
            $('#batters-container-a tbody').append(batterRow);
        } 
    });
});





//score for team b
$(document).ready(function() {
  $('#batsman-select-b').change(function() {
    var selectedBatter = $(this).val();
    var batterRow = $('#batters-container-b tbody').find('tr[data-batter-name="' + selectedBatter + '"]');

    if (batterRow.length == 0) {
      batterRow = '<tr class="batter-row-b" data-batter-name="' + selectedBatter + '" data-team="B">' +
                      '<td >' + selectedBatter + '</td>' +
                      '<td class="batter-runs">0</td>' +
                      '<td class="balls-faced">0</td>' +
                      '<td class="fours">0</td>' +
                      '<td class="sixes">0</td>' +
                      '<td class="strike-rate">0.00</td>' +
                  '</tr>';
      $('#batters-container-b tbody').append(batterRow);
    }
  });
});


$(document).ready(function () {
            $('#wicket-btn1').click(function () {
                var selectedBatter = $('#batsman-select-a').val();
                var selectedBatsmanRow = $('.batter-row[data-batter-name="' + selectedBatter + '"]');
                if (selectedBatter === "") {
                    alert("Please select a batsman to dismiss.");
                    return;
                }
                selectedBatsmanRow.addClass("out");
                selectedBatsmanRow.css("background-color", "#FF4433");
                selectedBatsmanRow.find(".batter-name").text(selectedBatter + "-OUT");

                $('#batsman-select-a').val('');
            });
        });

 $(document).ready(function () {
            $('#wicket-btn2').click(function () {
                var selectedBatter = $('#batsman-select-b').val();
                var selectedBatsmanRowB = $(`.batter-row-b[data-batter-name="${selectedBatter}"][data-team="B"]`);
                if (selectedBatter === "") {
                    alert("Please select a batsman to dismiss.");
                    return;
                }
                selectedBatsmanRowB.addClass("out");
                selectedBatsmanRowB.css("background-color", "#FF4433");
                selectedBatsmanRowB.find(".batter-name").text(selectedBatter + "-OUT");

                $('#batsman-select-b').val('');
            });
        });



     


  $(document).ready(function() {
    $('#strike-change-btn').click(function() {
      
      $('#batsman-select-a').focus().select();
      alert("select the batsmen on strike")
    });
  });

  $(document).ready(function() {
    $('#bowler-change-btn').click(function() {
      
      $('#bowler-select-a').focus().select();
      alert("select the bowler")
    });
  });



    </script>

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'scoring/scoring.css' %}"
    />
    <style>
      #tournament_name {
        font-weight: bold;
      }
   
    </style>
  </head>
  <body>

    <!-- Navbar -->

    <nav class="navbar">
      <a class="active" href="{% url 'score'%}">CricScorer</a>
      
      <a href="#">Matches</a>
      <a href="#">Teams</a>
      <a href="#">Players</a>
    </nav>

    <div id="teams">
      <div id="Matchid" data-match-id="{{ match.id }}">
        Match ID:- {{match.id}} 
        <br />
        <span name="tournament_name" id="tournament_name"
          >tournament :{{tournaments}}</span
        >

       
      </div>

      <h2>Teams Playing:</h2>
      <ul>
        <li>{{ match.team_1 }}</li>
        <li>VS</li>
        <li>{{ match.team_2 }}</li>
      </ul>
    </div>
    <div id="teams">
      <ul style="display: flex; ">
        <li style="margin-right: 30%; margin-left: 5%; font-weight: bold; font-size: x-large ;">
          <span name="team-a-name" id="team-a-name">{{ match.team_1 }}</span> -
          <span name="team-a-runs" id="team-a-runs">0</span><span> /</span>
          <span id="team-a-wickets">0</span> runs
        </li>
        <li>
          <h2 ><span style="margin-left: 100px;">Total Overs:</span><span id="Overs">{{match.overs}}</span></h2>
        </li>

        <li style="margin-left: 30%; font-weight: bold; font-size: x-large ;">
          <span name="team-b-name" id="team-b-name">{{ match.team_2 }}</span> -
          <span name="team-b-runs" id="team-b-runs">0</span> <span> /</span>
          <span id="team-b-wickets">0</span> runs
        </li>
      </ul>
    </div>
    <span style="padding-left: 42%; font-weight: bold; font-size: x-large; margin-left: 80px;">Target: <span id="Target">0</span></span>
    <span style="padding-left: 40px; font-weight: bold; font-size: x-large;">winner: <span id="winner_id">None</span></span>

    <div id="overs">
      <ul>
        <li style="font-size: larger;">From 0.0/0.0 Overs</li>
       
      </ul>

    </div>
    
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<div style="display: flex;">
  <h1 style="margin-right: 50vh; margin-left: 5vh;">1st Innings</h1>
  <h1>2nd Innings</h1>
</div>

 <!-- Team-A Batters -->
<div class="container">
  <div id="batters-container-a" class="batters-container" >
    <h2>{{team_a}} Stats:</h2>
    <table>
      <tr>
        <td colspan="6">
          <label for="batsman-select">Select Batsman:</label>
          <select name="batsman-select-a" id="batsman-select-a">
            {% for batter in team_a_batters %}
            <option value="{{ batter.name }}">{{ batter.name }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <th>Player Name</th>
        <th>Runs</th>
        <th>Balls Faced</th>
        <th>Fours</th>
        <th>Sixes</th>
        <th>Strike Rate</th>
      </tr>
    
    </table>
  </div>



 <!-- Team-B Batters -->
      <div id="batters-container-b"  class="batters-container">
        <h2>{{team_b}} Stats:</h2>
        <table>
          <tr>
            <td colspan="6">
              <label for="batsman-select">Select Batsman:</label>
              <select name="batsman-select-b" id="batsman-select-b">
                {% for batter in team_b_batters %}
                <option value="{{ batter.name }}">{{ batter.name }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <th>Player Name</th>
            <th>Runs</th>
            <th>Balls Faced</th>
            <th>Fours</th>
            <th>Sixes</th>
            <th>Strike Rate</th>
          </tr>
        
        </table>
    </div>

     <!-- Team-A Bowlers -->
    <div id="bowlers-container-b"  class="batters-container">
      <h2>{{team_b}} Bowlers Stats:</h2>
      <table>
        <tr>
          <td colspan="6">
            <label for="bowler-select">Select Bowler:</label>
            <select name="bowler-select-a" id="bowler-select-a">
              {% for bowler in team_b_bowlers %}
              <option value="{{ bowler.name }}">{{ bowler.name }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <th>Player Name</th>
          <th>Overs</th>
          <th>Runs</th>
          <th>Wickets</th>
          <th>Economy</th>
        </tr>
        <tbody>
          
          {% for bowler in team_b_bowlers %}
          <tr class="bowler-row" data-bowler-name="{{ bowler.name }}">
            <td>{{ bowler.name }}</td>
            <td class="bowler-overs">0.0</td>
            <td class="bowler-runs">0</td>
            <td class="bowler-wickets">0</td>
            <td class="bowler-economy">0.00</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
    
   <!-- Team-B Bowlers -->
  <div id="batters-container-b'"  class="batters-container">
    <h2>{{team_a}} Bowlers Stats:</h2>
    <table>
      <tr>
        <td colspan="6">
          <label for="bowler-select">Select Bowler:</label>
          <select name="bowler-select-b" id="bowler-select-b">
            {% for bowler in team_a_bowlers %}
            <option value="{{ bowler.name }}">{{ bowler.name }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <th>Player Name</th>
        <th>Overs</th>
        <th>Runs</th>
        <th>Wickets</th>
        <th>Economy</th>
      </tr>
      <tbody>
        
        {% for bowler in team_a_bowlers %}
        <tr class="bowler-row-b" data-bowler-name="{{ bowler.name }}">
          <td>{{ bowler.name }}</td>
          <td class="bowler-overs">0.0</td>
          <td class="bowler-runs">0</td>
          <td class="bowler-wickets">0</td>
          <td class="bowler-economy">0.00</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
  
  </div>
      <div class="container" style="display: flex;">  
      <h1 style=" text-align: center;">Press Buttons below to score:</h1>
      </div>
      <div id="score-buttons"  style="justify-content: center;">
        <button id="score-btn" onclick="score(0)">0</button>
        <button  id="score-btn" onclick="score(1)">1</button>
        <button  id="score-btn" onclick="score(2)">2</button>
        <button id="score-btn" onclick="score(3)">3</button>
        <button id="score-btn" onclick="score(4)">4</button>
        <button id="score-btn" onclick="score(5)">5</button>
        <button id="score-btn" onclick="score(6)">6</button>
        <button  onclick="widenNoball()">Wide</button>
        <button onclick="widenNoball()">NO BALL</button>
        <button id="score-btn" onclick="legbyes()">LEG BYES</button>
        <button id="score-btn" onclick="legbyes()">BYES</button>
        <!-- <button id="wicket-btn" onclick="wicket()">wicket</button> -->

        <button id="wicket-btn1" onclick="wicket(1)">Wicket </button>
        <button id="wicket-btn2" onclick="wicket(2)" >Wicket (2nd innings)</button>

     
    </div>

    <div id="editing-buttons">
      <button id="strike-change-btn" >StrikeChange</button>
      <button id="bowler-change-btn" >ChangeBowler</button>
    
      <button onclick="displayWinner()">EndInnings</button>

      
      <button id="add-score-button">Add Score</button>
    </div>
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <!-- <span class="close">&times;</span> -->
        <p id="modal-message"></p>
      </div>
    </div>
  </body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Add an event listener to the "Add Score" button -->

<script>
  $(document).ready(function () {
    $("#add-score-button").click(function () {
      
      var teamARuns = $("#team-a-runs").text();
      var teamBRuns = $("#team-b-runs").text();

   
      $.ajax({
        url: "{% url 'add_score' match_id=match.id %}",
        method: "POST",
        data: {
          team_a_runs: teamARuns,
          team_b_runs: teamBRuns,
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function (response) {
          
        },
        error: function (xhr, status, error) {
        
        },
      });
    });
  });

 
</script>


<script src="{% static 'js/scoring.js' %}"></script>

