{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Cricket Scoring Application</title>
    <link rel="stylesheet" type="text/css" href="{% static 'scoring/scoring.css' %}">
   
   

   
  </head>
  <body>
    <!-- Navbar -->

    <nav class="navbar">
     
      <a class="active" href="{% url 'score'%}">CricScorer</a>
      <a href="#">Live Score</a>
      <a href="#">Matches</a>
      <a href="#">Teams</a>
      <a href="#">Players</a>
      <!-- <a href="http://127.0.0.1:8000">Sign-Up</a> -->
    </nav>

    <div id="teams">
     
      <div id="Matchid">Match ID:- {{match.id}}</div>
      <h2>Teams Playing:</h2>
      <ul>
        <li>{{ match.team_1 }}</li>
        <li>VS</li>
        <li>{{ match.team_2 }}</li>
      </ul>
    </div>
    <div id="teams">
      <ul>
        <li ><span id="team-a-name">{{ match.team_1 }}</span> - <span id="team-a-runs">0</span><span> /</span> <span id="team-a-wickets">0</span> runs</li>
        
        <li ><span id="team-b-name">{{ match.team_2 }}</span> - <span id="team-b-runs">0</span> <span> /</span> <span id="team-b-wickets">0</span> runs</li>
      </ul>
      
    </div>
   <span style="padding-left: 700px;" >Target: <span id="Target" >0</span></span>
    <div id="overs">
      <ul>
        <li > From 0.0/0.0 Overs</li>
        
      </ul>
    </div>

  

    <div class="container">
      <div id="batters-container">
        <h2>Batters Stats:</h2>
        <table>
          <tr>
            <td colspan="5">{{ team_a }} Batters</td>
          </tr>
          <tr>
            <th>Player Name</th>
            <th>Runs</th>
            <th>Balls Faced</th>
            <th>Fours</th>
            <th>Sixes</th>
          </tr>
       <tbody>
        
        {% for batter in team_a_batters %}
        <tr>
          <td>{{ batter.Player}}</td>
          <td>{{ batter.runs }}</td>
          <td>{{ batter.balls_faced }}</td>
          <td>{{ batter.fours }}</td>
          <td>{{ batter.sixes }}</td>
        </tr>
        {% endfor %}
       
      </tbody>
      <table>
        <tr>
          <td colspan="5">{{team_b}} Batters</td>
        </tr>
        <tr>
          <th>Player Name</th>
          <th>Runs</th>
          <th>Balls Faced</th>
          <th>Fours</th>
          <th>Sixes</th>
        </tr>
     <tbody>{% for batter in team_b_batters %}
      <tr>
        <td>{{ batter.player_name }}</td>
        <td>{{ batter.runs }}</td>
        <td>{{ batter.balls_faced }}</td>
        <td>{{ batter.fours }}</td>
        <td>{{ batter.sixes }}</td>
      </tr>
      {% endfor %} 
     </tbody>
      </table>
  
        </table>
      </div>
      
      <div id="bowlers-container">
        <h2>Bowlers Stats:</h2>
        <table>
          <thead>
            <tr>
              <th>Player Name</th>
              <th>Overs</th>
              <th>Maidens</th>
              <th>Runs</th>
              <th>Wickets</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td colspan="5">{{ team_a }} Bowlers</td>
            </tr>
            {% for bowler in team_a_bowlers %}
            <tr>
              <td>{{ bowler.player_name }}</td>
              <td>{{ bowler.overs }}</td>
              <td>{{ bowler.maidens }}</td>
              <td>{{ bowler.runs_conceded }}</td>
              <td>{{ bowler.wickets }}</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="5">{{ team_b }} Bowlers</td>
            </tr>
            {% for bowler in team_b_bowlers %}
            <tr>
              <td>{{ bowler.player_name }}</td>
              <td>{{ bowler.overs }}</td>
              <td>{{ bowler.maidens }}</td>
              <td>{{ bowler.runs_conceded }}</td>
              <td>{{ bowler.wickets }}</td>
            </tr>
            {% endfor %}
          </tbody>
         
     
        </table>
      </div>
    </div>
    <div>
      <h1>Press Buttons below to score:</h1>
      <div id="score-buttons">
        <button onclick="score(0)">0</button>
        <button onclick="score(1)">1</button>
        <button onclick="score(2)">2</button>
        <button onclick="score(3)">3</button>
        <button onclick="score(4)">4</button>
        <button onclick="score(5)">5</button>
        <button onclick="score(6)">6</button>
        <button onclick="widenNoball()">Wide</button>
        <button onclick="widenNoball()">NO BALL</button>
        <button onclick="LEGBYES()">LEG BYES</button>
        <button onclick="score(4)">BYES</button>
        <button onclick="wicket()">Out</button>
      </div>
    </div>

    <div id="editing-buttons">
      <button onclick="Strikerchange()">Strikerchange</button>
      <button onclick="ChangeBowler()">ChangeBowler</button>
      <!-- <button onclick="VerifyScore()">VerifyScore</button> -->
      <!-- <button onclick="Undo()">Undo</button> -->
      <button onclick="displayWinner()">EndInnings</button>
      <form action=""><button name="AddData">AddData</button></form>
      
    </div>
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p id="modal-message"></p>
      </div>
    
    </div>
   
  </body>
  
  
</html>


<script src="{% static 'js/scoring.js' %}"></script>