{% extends 'scoring/base.html'%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket Scoring - Login</title>
   
   
  </head>
  <body >
    <!-- Navbar -->
	
    {% block content %}
    <!-- buttons form -->
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
      
      <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <button style="padding: 20px; margin: 200px 10px 20px; background-color: #4CAF50; color: black; border: red; cursor: pointer; width: 600px;" onclick="location.href='{% url 'make_match'%}'">+ Create your match</button>
        <button style="padding: 20px; margin: 10px 10px 20px; background-color: #4CAF50; color: black; border: none; cursor: pointer; width: 600px;" onclick="location.href='{% url 'entermatch'%}'">Start Scoring</button>
         <button style="padding: 20px; margin: 10px 10px 20px; background-color: #4CAF50; color: black; border: none; cursor: pointer; width: 600px;" onclick="buttonClicked(4)">Teams</button>
        <button style="padding: 20px; margin: 10px 10px 20px; background-color: #4CAF50; color: black; border: none; cursor: pointer; width: 600px;"onclick="location.href='{% url 'tournamet_create'%}'">Create Tournament</button>
        <button style="padding: 20px; margin: 10px 10px 20px; background-color: #4CAF50; color: black; border: none; cursor: pointer; width: 600px;" onclick="buttonClicked(5)">Update Password</button>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
