{% extends 'scoring/base.html' %}

{% block content %}
<style>
  a{
    text-decoration: none;
  }

form input[type="text"], form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


</style>
<div class="center">
  <div class="container">
    <div class="container-box">
      <h1 style="font-weight:bold;">Create Team</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Create Team</button>
      </form>
      <a href="{% url 'add_player' %}">
        <button class="btn btn-primary">Add Player</button>
      </a>
    </div>
  </div>
</div>
{% endblock %}
