{% extends 'scoring/base.html' %}


{% block content %}

<style>
  .container{
  max-width: 1000px !important;
}
</style>

<div class="center">
  <div class="container">
    
    <div class="text-center">
      <h1 class="mb-5">Tournaments:</h1>
      <ol class="list-group list-group-numbered">
        {% for tournament in tournaments %}
        <li class="list-group-item d-flex justify-content-between align-items-start mb-4">
          <div class="ms-2 me-auto">
            <div class="fw-bold mb-3"><button class="btn btn-outline-secondary btn-sm" onclick="toggleMatches({{tournament.id}})">{{tournament.name}} <span class="badge bg-secondary">{{tournament.makematch_set.all|length}} Matches</span></button></div>
            <ul class="list-group mb-3" id="matches-{{tournament.id}}" style="display: none;">
              {% for match in tournament.makematch_set.all %}
              {% if match.team_a_score != 0 %}
              <li class="list-group-item d-flex justify-content-between align-items-start"><span class="me-4">{{match.team_1.name}} ({{match.team_a_score}})  vs {{match.team_2.name}} ({{match.team_b_score}})</span><span class="badge bg-info"></span><span style="font-weight: bold;" class="ms-auto"> | Winner: {{match.winner}}</span></li>
             <hr>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </li>
        {% endfor %}
      </ol>
    </div>
    
  </div>
</div>

<script>
  function toggleMatches(tournamentId) {
    var matches = document.getElementById('matches-' + tournamentId);
    if (matches.style.display === 'none') {
      matches.style.display = 'block';
    } else {
      matches.style.display = 'none';
    }
  }
  </script>
 
  
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

{% endblock %}

