{% extends 'scoring/base.html' %}
{% load static %}


{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'scoring/tournament.css' %}">
{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="center">
  <div class="container">
    <div class="container-box">
  <h1>{{ title }}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
   
<!--    
<div class="conintainer">
  <h4> Existing Tournaments :</h4>

  <ul>{% for tournament in tournaments%}
      <h2>{{tournament.name}}--{{tournament.location}}</h2>
            {% endfor %}
    </h1>
    </h1>
  </ul> -->
  <button type="submit" value="save">Save</button>
</div>
<div>
  
</div>
   

    
  </form>
    </div>
  </div>
</div>


{% endblock %}
