{% extends 'scoring/base.html' %}

{% block content %}
  <h1>Tournaments</h1>
  <a href="{% url 'create_tournament' %}">Create New Tournament</a>
  <ul>
    <!-- {% for tournament in tournaments %}
      <li>
        <a href="{% url 'edit_tournament' tournament.id %}">{{ tournament.name }}</a>
        <ul>
          {% for team in teams %}
            <li>{{ team.name }} - {{ team.captain_name }}</li>
          {% empty %}
            <li>No teams yet.</li>
          {% endfor %}
        </ul>
      </li>
    {% empty %}
      <li>No tournaments yet.</li>
    {% endfor %} -->
    {% for team in teams %}
        <li>
          <label>
            <input type="checkbox"
              name="teams"
              value="{{ team.id }}"
              {% if selected_teams %}
                {% if team in selected_teams %}
                  checked
                {% endif %}
              {% endif %}>
            {{ team.name }}
          </label>
        </li>
      {% endfor %}
  </ul>
{% endblock %}
